{% extends "home.html" %}

{% block content %}
    <div class="span9">
        <div class="flex-auto">
            <table class="table table-striped">
                <caption>Podsumowanie</caption>
                <thead>
                <tr>
                    <th>Nazwa firmy</th>
                    <th>Calkowity czas</th>
                    <th>Oplata</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="error">
    </div>

{% endblock %}
{% block javascript %}
    <script src="static/js/podsumowanie.js"></script>
{% endblock %}